{% extends "base.html.twig" %}

{% block title %}Mes Festivals
{% endblock %}

{% block body %}
	<h1 class="my-fest__title">Mes Festivals</h1>

	<div class="my-fest__btns ">
		<a href="{{ path('app_user_festivals', {'userChoice': 'volunteer'}) }}" class="{{userChoice == 'volunteer' ? 'active' : 'btn'}} ">Festivals en tant que bénévole</a>
		<a href="{{ path('app_user_festivals', {'userChoice': 'owned'}) }}" class="{{userChoice == 'owned' ? 'active' : 'btn'}}">Festivals que j'organise</a>
	</div>

	{% if userChoice == 'volunteer' %}
		{% include 'utilisateur/user_volunteer_festivals.html.twig' %}
	{% else %}
		{% include 'utilisateur/user_owned_festivals.html.twig' %}
	{% endif %}
{% endblock %}
