{% extends 'base.html.twig' %}


{% block title %}Archiver{{ utilisateur.getNom() }}
{% endblock %}

{% block body %}

    <h1>Attention, cette action sera irreversible. Si vous archivez votre compte vous ne pourrez plus y accéder mais les données seront conservées</h1>

    <div class="btn-container">
        <div class="button-benevole">
            <a href={{ path("app_user_profile",{ 'id': utilisateur.getId() }) }} class="btn ">Annuler</a>
        </div>
        <div class="button-archive">
            <a href={{ path("app_festival_archiver_done", { 'id': utilisateur.getId() }) }} class="btn ">Archiver</a>
        </div>
    </div>
{% endblock %}