{% extends "base.html.twig" %}

{% block body %}
    <h1>Connexion</h1>  
    <form action="">    
        <div>
            <input placeholder='email' type="text" name='_username'>
        </div>
        <div>
        <input placeholder='mot de passe' type="text" name='_password' >
        </div>

        <div>
        <button type="submit">se connecter  </button>
        </div>
    </form>
{% endblock %}