{% extends "base.html.twig" %}

{% block body %}
  <h1 class="login-form__title">Connexion</h1>

  <form action="{{ path('app_login') }}" method="post" class="login-form">
    <div class="login-form__field">
      <input placeholder="Email" type="text" name="_username" class="login-form__input">
    </div>

    <div class="login-form__field">
      <input placeholder="Mot de passe" type="password" name="_password" class="login-form__input">
    </div>

    <a href="" style="position: relative; top: -15px">Mot de passe oublié</a>

    <div class="login-form__actions form-center">
      <button type="submit" class="login-form__submit">Se connecter</button>
    </div>
    <div class="login-form__link form-center">
      Vous n'avez pas de compte ? <a style="margin-left: 5px;" href="{{ path("inscription") }}" class="login-form__link--register">S'inscrire</a>
    </div>
  </form>
{% endblock %}
