$blue-primary : #463BC3;
<<<<<<< HEAD
<<<<<<< HEAD
$grey-primary : #9F9F9F;
$grey-primary-2 : #9F9F9F6a;
=======
$grey-primary : #9F9F9F;
>>>>>>> 7e25fa8 (setup sass and started nav style)
=======
$grey-primary : #9F9F9F;
$grey-primary-2 : #9F9F9F6a;
>>>>>>> 055c4f2 (navbar v1 (non-responsive))
