@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 100%;
    margin-bottom: 100px;
    height: 100vh;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(57deg, rgba(19, 17, 40, 1) 0%, rgba(70, 59, 195, 1) 100%);
    color: white;
}



@import 'sidebar';
@import "searchbar";
@import "festivals";
@import "detailfest";
@import "form";
@import "user-festivals";
@import "flashMessage";