@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
<<<<<<< HEAD
<<<<<<< HEAD
    list-style-type: none;
}

body {
    display: flex;
}


@import 'sidebar';
=======
=======
    list-style-type: none;
>>>>>>> 055c4f2 (navbar v1 (non-responsive))
}


@import 'sidebar';
>>>>>>> 7e25fa8 (setup sass and started nav style)
