@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
}
.footer{
    background-color: #463BC3;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

@import 'sidebar';
@import "searchbar";
