@import "_variables.scss";

$input-padding: 20px;

h1 {
    font-weight: 900;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    width: 45%;
    max-width: 500px;

    a {
        color: black;
        font-size: large;
        font-weight: 700;
    }

    & > div {
        width: 100%;
        position: relative;

        // label {
        //     position: absolute;
        //     top: $input-padding;
        //     left: calc($input-padding + 20px);
        //     font-size: large;
        // }

        input, textarea {
            border: 3px solid $grey-primary;
            width: 100%;
            height: 100%;
            padding: $input-padding;
            border-radius: 20px;
            font-size: large;
            font-weight: 700;

            &:focus {
                outline: none;
                border: 3px solid $blue-primary;
            }
        }

        textarea {
            height: 150px;
            resize: none;
            overflow-y: auto;

            &::-webkit-scrollbar-track {
                width: 20px;
            }
        }
    }

    & > button {
        border: none;
        border-radius: 20px;
        background-color: black;
        color: white;
        font-size:larger;
        font-weight: bolder;
        width: 100%;
        height: 70px;
    }   
}

.form-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

input[type='password'] {
    font-family: Verdana;
    letter-spacing: 0.125em;

    &::placeholder {
        font-family: 'Montserrat', sans-serif;
        letter-spacing: normal;
    }
}