.box {
  height: 30px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background: white;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 10px 25px black;
}
.box:hover input{
  width: 1000px;
  transition: all .5s linear;
  background: transparent;
}

.box input{
  width: 0;
  outline: none;
  border: none;
  font-weight: 1000;

}

img#saf{
  margin-top: 7px;
}