.box {
  position: relative;
  width: 70%;
  margin: 0 auto 50px;
  height: fit-content;

  &:hover a,
  input:focus~a {
    width: 58px;

    span {
      opacity: 0;
    }
  }

  input:focus {
    outline: none;
  }
  
.searchbar-wrapper {
  margin: 1em auto;
  max-width: 800px;
  width: 95%;
  font: 18px/1.5 sans-serif;
  min-height: 13vh;

  code {
    background: #f5f5f5;
    padding: 2px 6px;
  }
}