{% extends 'base.html.twig' %}

{% block title %}
    Error 404
{% endblock %}

{% block body %}
    <h1 class="error_title">Oups.. je ne retrouve pas cette page que vous cherchez</h1>
    <p class="error_desc">Erreur 404- page non trouvée</p>
{% endblock %}
