    {% extends 'base.html.twig' %}

{% block title %}
    Error 403
{% endblock %}

{% block body %}
    <h1 class="error_title">Désolé! ça ne va pas être possible pour cette fois</h1>
    <p class="error_desc">Erreur 403- Les droits d'accès ne permettent pas au client d'accéder à la ressource</p>
{% endblock %}
