    {% extends 'base.html.twig' %}

{% block title %}
    Error 400
{% endblock %}

{% block body %}
    <h1 class="error_title">??? je ne comprends pas ce que vous me demandez</h1>
    <p class="error_desc">Erreur 400- La syntaxe de la requête est erronée</p>
{% endblock %}
