@keyframes underlineLoading {
    0% {
        left: 0;
        width: 0;
    } 50% {
        left: 0;
        width: 100%;
    } 100% {
        left: 100%;
        width: 0;
    }
}

.underline-loading::before {
    content: '';
    position: absolute;
    bottom: -2px;
    height: 2px;
    animation: underlineLoading 1s infinite;;
}