@import "_variables";

.detailFesival {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

#fest-info {
  border-radius: 0 0 30px 30px;
  border-top: none;
}

#affiche {
  width: 65%;
  margin-bottom: 0;
  border-bottom: none;
  max-height: 700px;
}

.fest-description {
  margin: 30px;
  width: 50%;

  .main-desc {
    text-align: justify;
  }
}

.title {
  font-size: large;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 10px;
}

.button-benevole {
  border-radius: 10px;
  background-color: black;
  align-self: center;
  display: flex;
  width: 200px;
  height: 50px;
  padding: 20px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;

  a {
    color: white;
  }
}

.button-archive {
  border-radius: 10px;
  background-color: #ff0000;
  align-self: center;
  display: flex;
  width: 200px;
  height: 50px;
  padding: 20px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;

  a {
    color: #000000ff;
  }
}

.title {
  margin: 5px;
}

#mapid {
  height: 250px;
  width: 70%;
  z-index: 0;
}

.container-affiche {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border-collapse: collapse;
}

.fest-description {
  .title {
    margin: 40px 0;
  }
}

.detailFesival-block {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  div.main-desc {
    font-size: 11px;
  }

  .detailFesival-block {
    display: block;
  }

  .fest-description {
    width: unset;

  }

  main {
    overflow-y: unset;
  }

  .container-affiche {
    margin-top: 100px;
  }
}