/* Style de base pour le tableau */
table {
  width: 80%;
  margin: 20px auto; /* Centrer le tableau */
  border-collapse: collapse;
  background-color: #fff; /* Fond blanc */

  .btn-primary {
    margin: 0.3rem 0;
  }
}

/* Style des cellules du tableau */
td,
th {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd; /* Couleur de bordure plus claire */
  color: #000; /* Couleur du texte noire */
}

/* Style de la première ligne (en-tête) du tableau */
th {
  background-color: #fff; /* Fond blanc */
  font-weight: bold;
  color: black; /* Couleur du texte en bleu primaire */
}

/* Style pour toutes les cellules (pas de changement de couleur en fonction de la parité) */
tr td {
  background-color: #fff; /* Fond blanc */
  border-radius: 6px; /* Border radius pour les coins arrondis */
  margin: 4px 0; /* Espacement entre les éléments */

}

@media screen and (max-width: 768px) {
  th {
    font-size: 80%;
  }
}

@media screen and (max-width: 496px) {
  th {
    font-size: 60%;
  }
}

main h1{
  margin: 3% 0 1% 0;
}

tbody a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: #463BC3;
  text-decoration: none;
}