/* Style de base pour le tableau */
table {
  width: 80%;
  /* Largeur du tableau */
  margin: 40px;
  border-collapse: collapse;
  border: 1px solid black;
}

/* Style des cellules du tableau */
td,
th {
  padding: 8px;
  /* Espace intérieur autour du contenu de la cellule */
  text-align: center;
  /* Alignement du texte au centre */
}

/* Style de la première ligne (en-tête) du tableau */
th {
  background: white;
  font-weight: bold;
  /* Texte en gras */
  color: black;
  border-right: solid 2px #000000;
  border-bottom: solid 2px #000000;
}

/* Style pour les cellules impaires (ligne de couleur différente) */
tr:nth-child(odd) {
  background-color: #363636;
  /* Couleur de fond différente */
  color: white;
}

/* Style pour les cellules impaires (ligne de couleur différente) */
tr:nth-child(even) {
  background-color: #000000;
  /* Couleur de fond différente */
  color: white;
}

@media screen and (max-width: 768px) {
  th {
    font-size: 80%;
    width: 20%;
    padding: 3px;
  }
}

@media screen and (max-width: 496px) {
  th {
    font-size: 60%;
    width: 20%;
    padding: 1px;
  }
}