// Styles communs à toutes les pages

.postulation-page {

    .user-info-container {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        background-color: #ffffff;
        max-width: 600px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        .user-image {
            margin-right: 20px;

            img {
                max-width: 100px; // Ajustez la taille selon vos besoins
                border-radius: 50%; // Pour une image de profil arrondie
            }
        }

        .user-details {
            div {
                margin-bottom: 10px;

                strong {
                    font-weight: bold;
                }
            }
        }
    }

    h1 {
        text-align: center;
        margin: 20px;
    }

    .postulation-container {
        background-color: #ffffff;
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        div {
            margin-bottom: 20px;

            label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
                /* Ajouter un espace entre le label et les boutons */
            }

            input[type='number'],
            input[type='text'] {
                width: 100%;
                padding: 10px;
                border: 2px solid #ccc;
                border-radius: 5px;
                font-size: 16px;
            }

            .radio-group {
                div {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                }
            }

            textarea {
                width: 100%;
                padding: 10px;
                border: 2px solid #ccc;
                border-radius: 5px;
                font-size: 16px;
            }

            input[type='radio'] {
                margin-right: 5px;
            }
        }

        .buttons-container button {
            width: 100%;
            padding: 15px;
            margin: 5px;
            border: none;
            border-radius: 5px;

            color: #fff;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &.accept {
                background-color: $blue-primary;

                &:hover {
                    background-color: $blue-primary-hover;
                }
            }

            &.refuse {
                background-color: $dislike-color;

                &:hover {
                    background-color: $red-primary-hover;
                }
            }

        }
    }

    .status-container {
        margin-bottom: 20px;

        h2 {
            margin: 0;
        }

        & .refused {
            color: $red-primary;
        }

        & .accepted {
            color: $green-primary;
        }
    }
}