.profil-box {
  color: black;
  font-size: large;
  font-weight: 700;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    position: absolute;
    left: 20px;
    bottom: 100%;

    font-weight: 500;
  }
}

.info-box-wrapper {
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 20px;
  padding-top: 50px;

  position: relative;

  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  border: solid 4px #463BC3;
  border-radius: 20px;

  &.editing {
    margin-top: 70px;
    gap: 30px;
    height: 80%;
  }
  

  img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50px;
  }

  .info-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    &.editing {
      width: 50%;
      max-width: 500px;
    }
  }
}

.image_profile {
  padding: 0 15px;

  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -60%);

  background: white;
  
  border-radius: 100px;

}

.edit-button {
  color: white;
}

h1 {
  text-align: center;
}



.info-row {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-direction: column;

  &.editing {
    gap: 50px;

    div:has(input) {
      position: relative;
    }

  }
}

.info-border {
  border: none;
  padding: 5px;
  margin: 0 20px;
  background-color: white;
  color: black;

  &.editing {
    font-size: large;
    font-weight: 700;
  }
}

div.info-border:hover {
  border-color: #463BC3;
}

div.info-name-surname {
  display: flex;
  flex-direction: row;
  justify-content: space-around;  

  &.editing {
    gap: 6%;
  }

  &.editing > div {
    width: 47%;
  }

  &>* {
    width: 50%;
  }
}

div.biographie {
  min-height: 100px;
}

@media screen and (max-width: 768px) {

  .info-row {
    width: 80%;
  }

  #img-profil {
    max-width: 150px;
    max-height: 150px;

  }

  .image_profile {
    margin-top: -70px;
  }

  .info-border {
    font-size: 18px;
  }

  .edit-button {
    padding: 20px 35px;
    font-size: 18px;
  }
}


@media screen and (max-width: 450px) {

  #img-profil {
    max-width: 75%;
  }

  .image_profile {
    display: flex;
    justify-content: center;
  }

  .info-border {
    font-size: 11px;
  }

  .edit-button {
    font-size: 11px;
  }
}

.edit-button {
  display: none;
  padding: 20px;
  border-radius: 20px;
  background: #000;
  position: relative;
  font-size: large;
  font-weight: 700;
  cursor: pointer;
  margin: 20px auto 20px auto;

}

.df {
  display: flex;
  flex-direction: row;
  color: black
}

.pen {
  cursor:pointer;
  padding: 5px 8px ;
  font-size: 15px;
  border-radius: 10px;
  color: black;
  z-index: 10;
  margin-left: 10px;
  border: solid 2px black;
}

edit-hover {
  border: solid 2px black;
  border-radius: 5px;
}

.pen-hover {
  padding: 5px 8px ;
  font-size: 15px;
  border-radius: 10px;
  z-index: 10;
  margin-left: 10px;
  border: solid 2px #463BC3;
}


.form-edit {

}

.pen-img {
  width: 20px;
}