.public-profile__container {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .public-profile__header {
        height: 10rem;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        border-bottom: solid 1px $grey-primary;
        margin-bottom: 1.5rem;

        &--image {
            img {
                width: 7.5rem;
                height: 7.5rem;
                border-radius: 100%;
            }
        }

        &--name {
            margin-left: 2rem;
            font-size: 1.5rem;
            font-weight: 700;
        }
    }

    .public-profile__infos {
        padding: 1.5rem;
        border-bottom: solid .5px $grey-primary;

        &--title {
            
        }

        &--bio {
            font-size: 1rem;
            width: 45%;
            text-align: justify;
        }
    }

    .public-profile__contacts {

        padding: 1.5rem;
        border-bottom: 1px;

        &--title {
            
        }

        &--contacts {
            font-size: 1rem;
            margin-bottom: 1.5rem;
            width: 45%;
            text-align: justify;
        }
    
    }

    .sub-title {
        color: rgba(58, 51, 78, 0.521);
        font-size: 1.1rem;
        margin-bottom: .5rem;
        font-weight: 700;
    }

}