.public-profile__container {
    padding: 3rem;
    display: flex;
  
    height: 100%;
    width: 100%;

    h3 {
        margin: 1rem 0;
        position: relative;
    }

}

.public-profile__side {
    flex: 1;
    display: flex;
    flex-direction: column; 
    align-items: center;
   

    &--img {
        padding: 0.5rem;
        
        img {

        width: 17rem;
        height: 17rem;
        }
    }

    
}

.public-profile__main {
    display: flex;
    flex-direction: column;
    flex: 3; 

    &--header {
        display: flex;
        flex-direction: column;
        flex: 1;

        &-name {
            margin: 2rem 0;
            font-size: 2rem;
            font-weight: bold;
        }

        &-bio {
            font-size: 1.125rem;
            text-align: justify;
            width: 50%;
        }
       
        border-bottom: 1px solid $grey-primary;

        
 
    }

    &--body {
        display: flex;
        flex-direction: column;
        flex: 2;
        height: 100%;


      
    }

    .skills-section {
        margin-top: 1.25rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
        div {
            display: flex;
            align-items: center;
            padding: .625rem;
        }
    
        .contact-element {
            display: flex;
            align-items: center;
            
            width: 18.75rem;
            border: 1px solid #e0e0e0;
            border-radius: 0.3125rem;
            

            .contact-text {
                flex-grow: 1;
                justify-content: center;
                font-size: 1rem;
                overflow: auto;
            }
    
          
        }
    }


}


.settings-ico {
    width: 1.2rem;
    height: 1.2rem;
    
}

