.box-question{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 10px 0 0;

  font-size: 20px;

  a {
    display: grid;
    place-items: center;
  }
}

.questions {
  margin: 40px 0;
  width: 45%;
  max-width: 500px;

  gap: 10px;

  h3 {
    padding: 0 0 10px 10px;
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btns {
      display: flex;
    }
  }
}
