.my-fest__title {
  padding: 1rem;
}

.my-fest__heading {
  padding: 2rem;
}

.my-fest__btns {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.active {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid $blue-primary;
  background-color: $blue-primary;
  color: white;

}

.my-fest__buttons {
  margin: 10px 0;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  .my-fest__btn {
    padding: 15px 15px;

    position: relative;

    background-color: black;
    border-radius:100px;

    display: flex;
    justify-content: center;
    align-items: center;

    .notif {
      top: 0;
      left: 0;
      transform: translate(-20%, -20%);
      font-weight: 700;
    }

    img {
      width: 20px;
      aspect-ratio: 1/1;
    }
  }
}