.my-fest__title {
  margin: 50px 0 0;
}

.my-fest__heading {
  margin: 50px 0 10px;
}

.fest-wrapper.with-margin {
  margin-bottom: 100px;
}

.my-fest__buttons {
  margin: 10px 0;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  .my-fest__btn {
    padding: 15px 15px;

    position: relative;

    background-color: black;
    border-radius:100px;

    display: flex;
    justify-content: center;
    align-items: center;

    .notif {
      top: 0;
      left: 0;
      transform: translate(-20%, -20%);
      font-weight: 700;
    }

    img {
      width: 20px;
      aspect-ratio: 1/1;
    }
  }
}

.tooltip{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#tooltipText{
    position: absolute;
    top: -70%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease;
}

#tooltipText::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid transparent;
    border-top-color: black;
}

.tooltip:hover #tooltipText{
    visibility: visible;
    opacity: 1;
}