$blue-primary : #463BC3;
$blue-primary-hover : #2F2A7A;
$red-primary : #C33B3B;
$grey-primary : #9F9F9F;


$green-primary : #00b100;
$red-primary : #b81818;
$red-primary-hover : #851111;
$grey-primary-2 : #9F9F9F6a;
$input-padding : 20px;


$like-color : #00C800;
$neutral-color : $grey-primary;
$dislike-color : #C80000;

$grey-darker: #8383836a;
$grey-darker-hover: #6060606a