@import "_variables";

.fest-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  justify-items: center;
  align-items: center;
  grid-row-gap: 35px;
  grid-column-gap: 20px;

  a {
    text-decoration: none;
    color: black;
  }
}

.fest {
  align-items: flex-start;
  flex-basis: auto;
  width: 450px;
  height: auto;
  flex-shrink: 0;
  border-radius: 30px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);

  &:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }
}

.affiche {
  border-radius: 30px 30px 0 0;
  width: 100%;
  height: 220px;
  object-position: top;
  object-fit: cover;
}

.fest-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.fest-nom {
  font-weight: bold;
  font-size: large;
}

.fest-dateEtLieux {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}





.tags-input-wrapper .tag {
  background-color: $blue-primary;
  color: white;
  border-radius: 40px;
  padding: 0px 3px 0px 7px;
  box-shadow: 0 5px 15px -2px $blue-primary;
  margin: 2px;
}

#map {
  width: 500px;
  height: 400px;
  margin: auto;
}

.map-btn {
  margin: auto;
  background-color: black;
  padding: 15px 25px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
}

.index-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}