@import "_variables.scss";

.planning-wrapper {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#back-button {
    position: fixed;
    top: 30px;
    left: 30px;
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
    display: grid;
    place-items: center;

    img {
        height: 100%;
        width: 100%;
        transform: rotate(180deg);
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    }
}

.planning {
    border: solid 1px;
    height: 85%;
    border-radius: 10px;

    position: relative;
    display: flex;

    &>.day {
        height: 100%;
        width: 300px;
        border-left: solid 1px;
        position: relative;

        .day-date {
            background-color: aqua;
            height: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .line-break {
            position: absolute;
            height: 1px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.367);
            left: 0;
        }

        @for $i from 1 through 11 {
            #line-break-#{$i * 2} {
                top: #{($i * 2 * 100 / 24) + "%"};
            }
        }

        .task {
            position: absolute;
            top: calc(15/24*100%);
            left: 50%;
            height: calc(2/24*100%);
            width: 98%;
            background-color: rgb(209, 175, 225);
            border-radius: 10px;
            transform: translate(-50%, 0);
            
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 5px;
        }
    }

    .hour {
        position: absolute;
        left: -100px;
        transform: translate(0, -50%);
    }

    @for $i from 1 through 11 {
        #hour-#{$i * 2} {
            top: #{($i * 2 * 100 / 24) + "%"};
        }
    }
}