.my-fest__title {
  margin: 50px 0 0;
}

.my-fest__heading {
  margin: 50px 0 10px;
}

.fest-wrapper.with-margin {
  margin-bottom: 100px;
}

.my-fest__buttons {
  margin: 10px 0;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  .my-fest__btn {
    padding: 15px 15px;

    position: relative;

    background-color: black;
    border-radius:100px;

    display: flex;
    justify-content: center;
    align-items: center;

    .notif {
      top: 0;
      left: 0;
      transform: translate(-20%, -20%);
      font-weight: 700;
    }

    img {
      width: 20px;
      aspect-ratio: 1/1;
    }
  }
}