.my-fest__title {
  margin: 50px 0 0;
}

.my-fest__heading {
  margin: 50px 0 10px;
}

.fest-wrapper.with-margin {
  margin-bottom: 100px;
}

.my-fest__buttons {
  margin: 10px 0;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  .my-fest__btn {
    padding: 5px 10px;
    background-color: black;
    border-radius: 10px;
  }
}