{% extends "base.html.twig" %}
{% block title %}modifier votre festival{% endblock %}

{% block body %}

    <div class="form-wrapper">
        <h1>Modifier le poste</h1>

        {{ form_start(form, {'attr': {'class': 'festival-form'}}) }}

        {{ form_row(form.nom, {'label': 'Nom du poste', 'attr': {'class': 'festival-form__input'}}) }}

        {{ form_widget(form.demanderModificationPoste, {'label': 'Modifier', 'attr': {'class': 'festival-form__checkbox'}}) }}

        {{ form_end(form) }}
    </div>

{% endblock %}