{% extends 'base.html.twig' %}

{% block title %}
Postes festival
{% endblock %}

{% block overhead %}{% endblock %}

{% block body %}
    <h1>Suivi des demandes de festivals</h1>
    <table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Statut</th>
    </tr>
    </thead>
    <tbody>
    {% for festival in festivals %}
        {% if festival.getIsArchive() != 1 %}
            <td> <a href="{{ path('app_festival_detail', {'id' : festival.getId()}) }}"> {{ festival.getNom() }} </a></td>
            {% if festival.isvalid()==1 %}
                <td>Validée</td>
             {% elseif festival.isValid()==0 %}
                 <td> En cours de traitement</td>
             {% else festival.isValid()==-1 %}
                 <td> Votre demande à été rejeté </td>
            {% endif %}
        {% endif %}
    </tbody>
    {% endfor %}

{% endblock %}